@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	// COLORS
	--primary-color: #fbbd61;
	--primary-dark-color: #ec7532;
	--second-color: #ffffff;
	--third-color: #4a4a4a;

	--info: #2980b9;
	--success: #27ae60;
	--warning: #f1c40f;
	--danger: #e74c3c;

	--orange: #fb4226;
	--dark-orange: #b42a14;

	// FONT-SIZE
	--xxl-text: 3rem;
	--xl-text: 2.5rem;
	--large-text: 2rem;
	--medium-text: 1.5rem;
	--small-text: 1rem;
	--xs-text: 0.875rem;
}

::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 3px solid transparent;
	background-image: linear-gradient(
		to bottom,
		var(--primary-color),
		var(--primary-dark-color)
	);
	background-clip: padding-box;
}

::selection {
	color: white;
	background-color: var(--primary-dark-color);
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
